{{#if this.username}}
  <div class="user-info mt-2">
    <h2 class="user-name">Bienvenido {{this.username}}!</h2>
    <form action="/api/logout" method="POST" autocomplete="off">
      <button
        class="btn btn-warning"
        id="destroy"
        name="destroy"
      >Logout</button>
    </form>
  </div>
{{/if}}