<div class="container-form-signup mt-4">
  <form
    class="form-signup"
    action="/api/signup"
    method="POST"
    autocomplete="off"
  >
    <label>Ingrese su nombre</label>
    <div class="form-group myForm">
      <input
        type="text"
        class="form-control"
        id="username"
        name="username"
        required
      />
    </div>
    <label>Ingrese su mail</label>
    <div class="form-group myForm">
      <input
        type="text"
        class="form-control"
        id="email"
        name="email"
        required
      />
    </div>
    <label>Ingrese su contraseña</label>
    <div class="form-group myForm">
      <input
        type="password"
        class="form-control"
        id="password"
        name="password"
        required
      />
    </div>
    <div class="formButton">
      <button
        class="btn btn-dark"
        style="align-content: flex-end;"
      >Registrarse</button>
    </div>
  </form>
</div>