<link rel="stylesheet" href="css/styles.css">

<h1 class="alert alert-success p-4">
    <h2>¡Hola {{nombre}}!</h2>

    <div class="float-right">
        <button class="btn btn-warning" onclick="location.href='/logout'">
            <b>Cerrar Sesión</b><br><img src="{{foto}}" width="75" alt="">
        </button>
    </div>

    <b><a href="#">{{email}}</a></b>
</h1>